
 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#"><h3>CertiChain</h3></a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>


      <div class="collapse navbar-collapse" style="float: right; flex-grow: unset;" id="navbar-list-4">
        <ul class="navbar-nav">
            <li class="nav-item ">
            <a class="nav-link " id="navbarDropdownMenuLink" role="button" >
              <img src={{avatar}} width="40" height="40" class="rounded-circle">
            </a>
            
          </li>   
        </ul>
        <div style="float: right; width: fit-content; flex-grow: unset;"> 
          <button type="button" class="btn btn-outline-primary  px-3 me-2"  (click)="onclick()" routerLink = "" >
            Logout
          </button>
          
          
        </div> 
      </div>


      <!-- <div class="" id="navbarTogglerDemo02">


        // comment below section 
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/aboutUs" routerLinkActive = "active" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contactUs" routerLinkActive = "active" >Contact Us</a
            >
          </li>
        </ul> 
        // comment upto here


        
      </div>-->
    </div>
  </nav>

  