<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Login Form with Avatar Image</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>

<!-- <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-md-8" id="htmlData">
        <table class="table" style="text-align: center;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Student ID</th>
              <th scope="col">School Name</th>
              <th scope="col">Degree</th>
              <th scope="col">Division</th>
              <th scope="col">Year</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>799539747873521666 </td>
              <td>799539747764600834</td>
              <td>Masters</td>
              <td>-</td>
              <td>CS</td>
              <td>2022</td>
              <td>2022-09-25T01:49:27.110Z</td>
              <td>2022-09-25T01:49:27.110Z</td>
            </tr>
            
          </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block"  (click)="openPDF()" style="margin-left: 129px;">Download PDF</button>
    </div>
  </div>